<div class="home-container" id="homeContainer">
    <div class="container flexetron" >
        <h1>IN and EX</h1>
     </div>
     <button class="btn-GW" id="login">SIGN IN</button>
     <div class="login-block">
        <input type="text" name="username" placeholder="username" class="form-control-login" autocomplete="off">
        <input type="password" name="username" placeholder="password" class="form-control-login"  autocomplete="off">
        <button class="btn-BW" id="login">LOGIN</button>
     </div>
</div>